$color_1: #555;
$color_2: #666;
$color_3: #fff;
$color_4: #03A9F4;
$color_5: #039BE5;
$font-family_1: 'Poppins', sans-serif;
$background-color_1: #ecf0f3;
$background-color_2: #03A9F4;
$background-color_3: #039BE5;
$fas:#0293D2;
$error-message-color: #D24E49;